{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/hr-employee" method="post">
      <h1 class="govuk-heading-xl">Insert New Employee</h1>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Enter all fields
          </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="fname">
            First Name
          </label>
          <input class="govuk-input" id="fname" name="first-name" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="lname">
            Last Name
          </label>
          <input class="govuk-input" id="lname" name="last-name" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address">
            Address
          </label>
          <input class="govuk-input" id="address" name="employee-address" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="salary">
            Salary
          </label>
          <input class="govuk-input" id="salary" name="employee-salary" type="text">
        </div>

        <label class="govuk-label">
          Date of Birth
        </label>
        <div class="govuk-date-input" id="dob">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day"
                type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month"
                type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year"
                type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            National Insurance Number
          </label>
          <input class="govuk-input" id="address-town" name="address-town" type="text" autocomplete="address-level2">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            Email
          </label>
          <input class="govuk-input" id="address-county" name="address-county" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Department
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value=1>Human Resources</option>
            <option value=3 selected>Finance Team</option>
            <option value=2>Sales Team</option>
            <option value=4>Talent Manager</option>
            <option value=5>Development Team</option>
          </select>
        </div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="250">
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-county">
              Bio
              <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint"
                rows="5"></textarea>
          </div>

          <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 250 characters
          </div>

        </div>
      </fieldset>


      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}